@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables

$blue: #2196f3;

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  background: $blue;
  color: #fff;
  padding: 0.5em 1em;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  h1 {
    font-size: 1.618em;
    order: 1;
  }
  h2{
    font-size: 1em;
    order: 2;
  }
}

main {
  padding: 0.5em 1em;
}

h2{
  font-size: 2.236em;
  margin: 0.5em 0 0.5em 0;
}

p {
  font-size: 1em;
  display: inline-block;
  padding: 0 0.5em  0em 0;
  margin: 0 0 0.2em 0;
}
.slider{
  float:right;
  color: white;
  background: #2196f3;
  border: 20px;
  border-color: white;
}
.task {
  border-radius: 15px 50px;
  padding: 0.2em 1.618em ;
  margin: 0.5em;
  color: white;
  height: 8em;
  width: auto;
  background-color: #2196f3;
}
